$colorOscuro: black ;
$fontTitulos: 'Bakbak One', cursive;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Domine', serif;
}

#hero{   

    // background-image:url(../img/durohero.jpg)  ;
    background: url(../img/durohero1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;

.header{
    height: 70px;
    width: 100%;
    background-color: hsla(120, 5%, 54%, 0.569);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    
        .contenedorHeader{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: auto;

        }
        .logo{
            h2{
            font-size: 35px;
            font-family: 'Bakbak One', cursive; 
            }
            
            
        }

        nav{
            
            ul{
                display: flex;
            }

            li{
                margin-left: 20px;
            }

            a{
                text-decoration: none;
                color: white;
                
                
                li{
                    list-style: none;
                    
                }
            }
        }
}
}

main{
    background-color:#ccc;

    .nuestroTrabajo{
        height: 600px;
        width: 1200px;
        margin: auto;

        h3{
            color:$colorOscuro;
            font-family: $fontTitulos;
            font-size: 40px;
            text-align: center;
            padding-top : 10px;
        }
        
    }
}







footer{
    background-color: $colorOscuro;
    height: 50px;
    width: 100;

    .contenedorFooter{
        max-width: 1200px;
        margin: auto;
        color: white;
        
    }
}